
.centeralised {
  left: 40%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  display: block;
  margin: 0 auto -200px;
  z-index: 99999999;

  @extend .centeralised;
  left: 45%;
}

.main {
  background: url('../images/home-background.jpeg') no-repeat;
  background-size: cover;
  background-position: bottom right;
  max-width: none;
  width: 100vw;
  height: 100vh;
}

// ****************************************
// Sections
// ****************************************
.section {
  position: relative;
  min-height: 100vh;

  &__half {
    display: inline-block;
    float: left;
    width: 50%;
  }

}

// ****************************************
// CTA / Buttons
// ****************************************
.button {
  border-radius: 2px;
  font-size: 16px;
  line-height: 18px;
  background: white;
  border: none;
  padding: 10px 20px;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;

  &__isClicked {
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease 0.25s;
  }
}

// ****************************************
// Articles
// ****************************************
.article {
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease 0.25s;


  &__isVisible {
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
  }
}


// ****************************************
// Helpers
// ****************************************
.text-center {
  text-align: center;
}
