@mixin centeralised() {
  text-align: center;

  @media #{$medium-up} {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.centeralised {
  @include centeralised();
}

.logo {
  display: block;
  margin: 0 auto -200px;
  z-index: 99999999;

  @media #{$medium-up} {
    @include centeralised();
    left: 45%;
  }
}

.main {
  background: url('../images/home-background.jpeg') no-repeat;
  background-size: cover;
  background-position: bottom right;
  max-width: none;
  width: 100vw;
  height: 100vh;
}

// ****************************************
// Sections
// ****************************************
.section {

  @media #{$small-only} {
    height: 50vh;
  }

  @media #{$medium-up} {
    position: relative;
    min-height: 100vh;
  }

  &__half {
    display: inline-block;
    float: left;
    width: 50%;
  }

}

// ****************************************
// CTA / Buttons
// ****************************************
.button {
  border-radius: 2px;
  font-size: 16px;
  line-height: 18px;
  background: white;
  border: none;
  padding: 10px 20px;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
  height: auto;

  &__isClicked {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.5s ease 0.25s;
  }
}

// ****************************************
// Articles
// ****************************************
.article {
  // overflow: hidden;
  // opacity: 0;
  // height: 0;
  transition: all 0.5s ease 0.25s;


  &__isVisible {
    height: auto;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
  }
}


// ****************************************
// Tabs
// ****************************************
ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current{
  background: #ededed;
  color: #222;
}

.tab-content{
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}
