@mixin centeralised() {
  // text-align: center;

  @media #{$medium-up} {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.centeralised {
  @include centeralised();
}

.no-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
