@import "media-querries";
@import "page";


// ****************************************
// Helpers
// ****************************************
.text-center {
  text-align: center;
}


// ****************************************
// Links
// ****************************************

// Foundation Overrides
a,
button {
  background-color: transparent !important;
  color: inherit !important;
  outline: none;
  &:hover {
    background-color: transparent !important;
  }
}
