@import "media-querries";
@import "typography";
@import "page";

// ****************************************
// Links
// ****************************************

// Foundation Overrides
a,
button {
  background-color: transparent !important;
  color: inherit !important;
  outline: none;
  &:hover {
    background-color: transparent !important;
  }
}
