<img width="200" height="200" src="./images/logo.png" class="logo" alt="" />

<main class="main row">
    <section
    data-targetsize="0.9"
    data-duration="1200"
    preservescroll="true"
    class="columns medium-6 zoomTarget section">
    <div class=" row column">
      <button class="button1 button" type="button" name="left">
        <h1><a href="#1">
          What we do
        </a></h1>
      </button>

      <article class="article vimeo-videos row column">

        <h1 class="text-center">What we do</h1>

        <ul class="tabs text-center">
          <li class="tab-link current" data-tab="tab-1">Our Work</li>
          <li class="tab-link" data-tab="tab-2">Our Services</li>
        </ul>

        <div id="tab-1" class="tab-content current">

          <div class="row medium-up-2 video-row">
            <!-- Dynamically populated -->
          </div>
        </div>
        <div id="tab-2" class="tab-content">
          <ul class="services">
            <li class="services__item services__item--cinematic">
              <i class="icon-video"></i>
              <article class="services__item--content">
                <h4>Cinematic Video</h4>
                <p>
                  We now use ... as our camera of choice.
                </p>
              </article>
            </li>
            <li class="services__item services__item--cinematic">
              <i class="icon-cloud"></i>
              <article class="services__item--content">
                <h4>Aerial Filming</h4>
                <p>
                  We are fully equipped and liscenced CSS drone pilots.
                </p>
              </article>
            </li>
            <li class="services__item services__item--cinematic">
              <i class="icon-headphones"></i>
              <article class="services__item--content">
                <h4>Sound Design</h4>
                <p>
                  We have a dedicated sound designer who will your work above and beyond.
                </p>
              </article>
            </li>
            <li class="services__item services__item--cinematic">
              <i class="icon-chart-bar"></i>
              <article class="services__item--content">
                <h4>Animation</h4>
                <p>
                  Animation plays a key role in bringing your work to life
                </p>
              </article>
            </li>
            <li class="services__item services__item--cinematic">
              <i class="icon-camera-outline"></i>
              <article class="services__item--content">
                <h4>Timelapse / Hyperlapse</h4>
                <p>
                  Nothing quite like some beautiful .....
                </p>
              </article>
            </li>
            <li class="services__item services__item--cinematic">
              <i class="icon-cw"></i>
              <article class="services__item--content">
                <h4>Live stream</h4>
                <p>
                  We've seen this grow over the last year and now offer a full streaming service.
                </p>
              </article>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </section>

  <section
  data-targetsize="0.9"
  data-duration="1200"
  class="columns medium-6 zoomTarget section">
  <div class="">
    <button class="button2 button button__centeral" type="button" name="left">
      <h1><a href="#1">
        Who we are
      </a></h1>
    </button>

    <article class="article vimeo-videos">

      <h1 class="text-center">Who we are</h1>

      <ul class="tabs text-center">
        <li class="tab-link current" data-tab="tab-3">About us</li>
        <li class="tab-link" data-tab="tab-4">Contact us</li>
      </ul>

      <div id="tab-3" class="tab-content about-us current">
        <img src="./images/about-us/cover.jpg" alt="About us" />
        <p>
          We are a video production company with a grounding in extreme sports and love for creating engaging content. From the planning stages in shooting and post production, we enjoy every asepct of filmmaking.
        </p>
        <p>
          At the core, Switch Films comprises of Paddy Bartram (DOP and Colourits) and Will March (Camera assistant and Editor).
        </p>
        <p>
          We know that each project is going to have different requirements and challanges thought. Established connections with industry freelancesr and specialists, ensures that the most appropriate crew and equimpent is on each job.
        </p>
        <p>
          Our work extends to a variety of areas including event coverage, music videos, weddings and coprorate projects. We are also available for commercial aerial work - being fully insured and certified by the Civil Aviation Authority - and are able to invorperate this into any project.
        </p>
        <p>
          Get in touch if you have any questions or think that there may be something we can do for you.
        </p>
        <div class="row medium-up-2">
          <img class="column" src="./images/about-us/filming.jpg" alt="" />
          <img class="column" src="./images/about-us/skiing.jpg" alt="" />
        </div>
      </div>
      <div id="tab-4" class="tab-content">
        <ul class="contact-details  no-list">
          <li>
            <a href="mailto:info@switchfilms.com">
              <i class="icon-mail"></i>info@switchfilms.com
            </a>
          </li>
          <li>
            <a href="tel:+447551347965">
              <i class="icon-phone"></i>+44 (0) 755 134 1965
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.facebook.com/SwitchFilms">
              <i class="icon-instagram"></i>facebook.com/SwitchFilm
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.instagram.com/switch_films/">
              <i class="icon-vimeo"></i>@switchfilms
            </a>
          </li>
          <li>
            <a target="_blank" href="https://vimeo.com/switchfilms">
              <i class="icon-facebook-squared"></i>vimeo.com/switchfilms
            </a>
          </li>
        </ul>
      </div>

    </article>
  </div>
</section>
</main>
