/* line 2, ../sass/screen.scss */
.centeralised, .logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

/* line 9, ../sass/screen.scss */
.logo {
  display: block;
  margin: 0 auto -200px;
  z-index: 99999999;
  left: 45%;
}

/* line 18, ../sass/screen.scss */
.main {
  background: url("../images/home-background.jpeg") no-repeat;
  background-size: cover;
  background-position: bottom right;
  max-width: none;
  width: 100vw;
  height: 100vh;
}

/* line 30, ../sass/screen.scss */
.section {
  position: relative;
  min-height: 100vh;
}
/* line 34, ../sass/screen.scss */
.section__half {
  display: inline-block;
  float: left;
  width: 50%;
}

/* line 45, ../sass/screen.scss */
.button {
  border-radius: 2px;
  font-size: 16px;
  line-height: 18px;
  background: white;
  border: none;
  padding: 10px 20px;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
  height: auto;
}
/* line 56, ../sass/screen.scss */
.button__isClicked {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.5s ease 0.25s;
}

/* line 67, ../sass/screen.scss */
.article {
  overflow: hidden;
  opacity: 0;
  height: 0;
  transition: all 0.5s ease 0.25s;
}
/* line 74, ../sass/screen.scss */
.article__isVisible {
  height: auto;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

/* line 85, ../sass/screen.scss */
.text-center {
  text-align: center;
}

/* line 95, ../sass/screen.scss */
a,
button {
  background-color: transparent !important;
  color: inherit !important;
  outline: none;
}
/* line 100, ../sass/screen.scss */
a:hover,
button:hover {
  background-color: transparent !important;
}
