.contact-details {

  // background: white;
  width: 35%;
  margin: 40px auto 0;

  li {

    & + & {
      margin-top: 20px
    }
  }

  [class^="icon-"] {
    font-size: 30px;
    margin-right: 20px;
  }
}
