.contact-details {

  width: 80%;
  margin: 40px auto 0;

  @media #{$medium-up} {
      width: 40%;
      min-width: 260px;
  }

  li {

    & + & {
      margin-top: 20px
    }
  }

  [class^="icon-"] {
    font-size: 30px;
    margin-right: 5%;
  }
}
