$services: (
  'cinema',
  'design',
  'timelapse',
  'aerial',
  'animation',
  'live'
);

$image-path: '../images/';

.services {
  margin: 0;
  margin-top: 20px;
  padding: 20px;
  list-style-type: none;
  text-align: left;
  column-count: 2;
  background: lightgrey;

  &__item {
    display: inline-block;
    text-align: left;

    i {
      float: left;
    }

    &--content {
      width: 90%;
      float: right;
    }
  }
}
